
<style>
  #nav-click {
    position: sticky;
    top: 0;
    width: 340px;
    height: 55px;
    z-index: 99}
</style>  
<div id='header'>
  <div id='top-banner'>
  <div id='top-banner-logo'>
    <img src="https://volotkovsky.github.io/img/av-logo.svg" alt="" id='top-banner-logo-icon'>
    <p id='top-banner-logo-label'>
      Андрій Волотковський
    </p>
  </div>
  <div id='top-banner-filter'></div>
</div>
  <div id='top-banner-buttons'>
    <a href="https://t.me/volotkovsky"><div id='top-banner-btn'>замовити дизайн</div></a>
    <a href="/services"><div id='top-banner-btn'>перелік послуг</div></a>
    <a href="/bio"><div id='top-banner-btn'>біо</div>
  </div></a>
  <a href="/"><div id="nav-click"></div></a>
</div>