<div class="menuContainer">
  <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_logo.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/identity'>Лого та <br>айдентика</a>
    </div>
    </div>
  
  <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_print.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/print'>Поліграфія</a>
    </div>
  </div>
  
  <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_posters.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/pics-and-posters'>Ілюстрації<br>та плакати</a>
    </div>
  </div>
  
    <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_maps.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/maps'>Карти</a>
    </div>
  </div>
  
    <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_fonts.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/type'>Шрифти</a>
    </div>
  </div>
  
  <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_uxui.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/other'>UI/UX</a>
    </div>
  </div>

  <div class="menuBtn">
    <div class="menuIcon"><img src="/img/icons/icon_dataviz.svg" alt="" height="100%"></div>
    <div class="menuBtnLink">
      <a href='/dataviz'>Інфографіка і датавіз</a>
    </div>
  </div>

</div>